@model ICollection<MVC.Models.TypeVM>

@{
    ViewData["Title"] = "All Types";
}

<div class="container p-2">
    <div class="row mt-3">
        <div class="col-6">
            <h2 class="text-primary">List of all types</h2>
        </div>
        <div class="col-6 text-end">
            <button type="button" class="btn btn-primary" id="loadCreateModalButton">
                <i class="bi bi-plus-square"></i> &nbsp; Create New Type
            </button>
        </div>
    </div>
    <br />

    <div id="typeList">
        @await Html.PartialAsync("_ListPartial", Model)
    </div>
</div>

<div id="modalPlaceholder"></div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script>
        $(document).ready(function () {
            function refreshTypeList() {
                $.ajax({
                    url: '@Url.Action("ListPartial", "Type")',
                    type: 'GET',
                    success: function (data) {
                        $('#typeList').html(data);
                    },
                    error: function (xhr, status, error) {
                        alert("An error occurred while refreshing the type list: " + xhr.responseText);
                    }
                });
            }

            $('#loadCreateModalButton').click(function () {
                $.ajax({
                    url: '@Url.Action("Create", "Type")',
                    type: 'GET',
                    success: function (data) {
                        $('#modalPlaceholder').html(data);
                        $('#Create').modal('show');
                        $.validator.unobtrusive.parse('#Create form');
                    },
                    error: function (xhr, status, error) {
                        alert("An error occurred while loading the modal: " + xhr.responseText);
                    }
                });
            });

            $(document).on('click', '.edit-button', function () {
                var typeId = $(this).data('id');
                $.ajax({
                    url: '@Url.Action("Edit", "Type")',
                    type: 'GET',
                    data: { id: typeId },
                    success: function (data) {
                        $('#modalPlaceholder').html(data);
                        $('#Edit').modal('show');
                        $.validator.unobtrusive.parse('#Edit form');
                    },
                    error: function (xhr, status, error) {
                        alert("An error occurred while loading the modal: " + xhr.responseText);
                    }
                });
            });

            $(document).on('click', '.delete-button', function () {
                var typeId = $(this).data('id');
                if (confirm('Are you sure you want to delete this type?')) {
                    $.ajax({
                        url: '@Url.Action("Delete", "Type")',
                        type: 'POST',
                        data: {
                            id: typeId,
                            __RequestVerificationToken: $('input[name="__RequestVerificationToken"]').val()
                        },
                        success: function (data) {
                            if (data.success) {
                                refreshTypeList();
                                showToast(data.message, 'success');
                            } else {
                                showToast(data.message, 'error');
                            }
                        },
                        error: function (xhr, status, error) {
                            alert("An error occurred while deleting the type: " + xhr.responseText);
                        }
                    });
                }
            });

            $(document).on('submit', 'form', function (event) {
                event.preventDefault();
                var form = $(this);
                if (form.valid()) {  
                    $.ajax({
                        url: form.attr('action'),
                        type: form.attr('method'),
                        data: form.serialize(),
                        success: function (data) {
                            if (data.success) {
                                $('#modalPlaceholder .modal').modal('hide');
                                refreshTypeList();
                                showToast(data.message, data.type);
                            } else {
                                showToast(data.message, 'error');
                            }
                        },
                        error: function (xhr, status, error) {
                            alert("An error occurred: " + xhr.responseText);
                        }
                    });
                }
            });
        });
    </script>
    <script src="~/js/Warning.js"></script>
}
